<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>map</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">map</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-fab slot="fixed" vertical="top" horizontal="start">
    <ion-toggle [checked]="true" (click)="toggleCenter()">Auto Center</ion-toggle>
  </ion-fab>
  <ion-fab slot="fixed" vertical="top" horizontal="center">
    <ion-toggle   color="warning"  [checked]="false" (click)="enableSave()">Enable saving</ion-toggle>
  </ion-fab>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="clearMarks()">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div id='leafletMap'></div>
</ion-content>